{{ $data := index site.Data site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="team" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
            {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ with .description }}
      <div class="col-12 wow fadeInUp" data-wow-duration="500ms">
        <div class="team-description-wrapper">
          <p class="team-description">{{ . }}</p>
        </div>
      </div>
      {{ end }}

      {{ range .qualifications }}
      <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="{{ .icon }}"></i>
          </div>
          <h3>{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
{{ end }}
